*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

#carousel{

    overflow: hidden;

    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
}

#carousel-container{
    padding: 10px;
    position: relative;
    transition: all ease 0.5s;
    background-color: rgba(150,150,150,0.5);
    white-space: nowrap;
}

.carousel-item{
    display: inline-block;

}

#carousel-buttons ul{
    padding: 0;
    margin: 0;
}

#carousel-buttons ul li{
    display: inline-block;
    padding: 10px;
    background-color: firebrick;
    color: white;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.d-none{
    display: none;
}


.carousel-item img{
    padding: 10px;
    height: 400px;
}

.carousel-item.active img{
    background-color: red;

}
