
*{
    box-sizing: border-box;
}

body{
    background-color: grey;
}

#carousel{
    background-color: blue;
    width: 80%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

#carousel-viewport{
    background-color: pink;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

#carousel-item-container{
    background-color: orange;
    white-space: nowrap;
    position: relative;
    /*transition: all 1s;*/
}

#carousel-buttons-container{
    background-color: grey;
    text-align: center;
    padding: 10px;
}

#carousel-buttons-container ul{
    padding: 0;
    margin: 0;
}

#carousel-buttons-container ul li{
    list-style: none;
    display: inline-block;
    background-color: firebrick;
    padding: 10px;
    color: white;
    border-radius: 5px;
    user-select: none;
}

.carousel-item{
  background-color: lime;
  width: 100%;
  display: inline-block;
  height: 600px;
  overflow: hidden;
  position: relative;
}



.imgLandscape{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.imgPortrait{
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


.active{
    background-color: red;
}

.d-none{
    display: none;
}
